.column {
  float: left;
  width: 50%;
}
.row:after {
  display: table;
  clear: both;
}

.text {
    font-weight: bold;
}

.align {
    display: flex;
    align-items: center

}

.margin {
    margin-right: 0.5em;
}