$butteryellow: #ffd275;

.headline-input {
  width: 20rem;
}

.submit {
  margin-top: 2rem;
  width: 20rem;
}

.de-select_all {
  width: 10rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: $butteryellow;
  border: none;
  border-radius: 25px;
  margin-top: 0;
  color: white;
  font-weight: 800;
}

input[type='checkbox'] {
  margin-left: 3rem;
}
