label {
  width: 6rem;
}

textarea {
  border-radius: 25px;
  padding: 0 0.5rem 0 0.5rem;
  width: 20rem;
}

.headline-input {
  width: 20rem;
}

select {
  border-radius: 25px;
}

.submit {
  margin-top: 2rem;
  width: 20rem;
}
