$butteryellow: #ffd275;

table {
  margin-left: 6rem;
  box-shadow: 3px 3px 10px grey;
  border-radius: 25px;
  padding: 1rem;
}

th {
  padding-bottom: 1rem;
  width: 10rem;
  text-align: left;
}

.coloredColumn {
  background-color: #ffd275;
}

a {
  text-decoration: none;
  color: #c78500;
}
