.technical-information {
  border-radius: 50px;
  box-shadow: 3px 3px 10px grey;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

h3 {
  font-weight: 400;
}

button {
  background-color: #ffd275;
  border-radius: 50px;
  box-shadow: 3px 3px 10px grey;
  border: none;
}

.buttons {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  button {
    width: 30rem;
    height: 2rem;
  }
}
