@import './../../style/eb-variables';
@import './../../style/eb-mixins';

.greeting {
  &__intro {
    font-style: italic;
  }
}

.greeting-title {
  @include headline-l;
  display: flex;
  align-items: center;

  &__avatar {
    flex: 0 0 auto;
    width: auto;
    height: 2em;
    margin-right: 0.5em;
  }
}
