@import './../../style/eb-variables';
@import './../../style/eb-mixins';

.eb-employee-list {
  .table__header {
    display: flex;
    justify-content: space-between;
    background-color: $color-secondary;
    color: $color-primary-light;
    span {
      padding: 0 0.75em;
    }
    span:nth-child(1) {
      width: 30%;
      padding-left: 1em;
    }
    span:nth-child(2) {
      width: 25%;
    }
    span:nth-child(3) {
      width: 20%;
    }
    span:nth-child(4) {
      width: 25%;
      text-align: right;
    }
  }

  .table__row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $color-secondary;
    span {
      padding: 0.75em;
    }
    span:nth-child(1) {
      width: 30%;
    }
    span:nth-child(2) {
      width: 25%;
    }
    span:nth-child(3) {
      width: 20%;
    }
    span:nth-child(4) {
      width: 25%;
      text-align: right;
    }
    .table__btn {
      &--view {
        border-radius: 15px;
        padding: 0.2em 0.5em;
        text-decoration: none;
        background-color: #52658f;
        color: white;
      }
      &--assign {
        border-radius: 15px;
        padding: 0.2em 0.5em;
        text-decoration: none;
        background-color: #f58930;
        color: white;
      }
      &--edit {
        border-radius: 15px;
        padding: 0.2em 0.5em;
        text-decoration: none;
        background-color: #52838f;
        color: white;
      }
    }
  }
}
