.table {
  table-layout: fixed;
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  .table__header {
    .table__row {
      font-size: 0.8em;
      color: rgb(56, 56, 56);
      padding: 1em 0 0 0;
      display: flex;
      justify-content: space-between;
      span:nth-child(1) {
        width: 30%;
      }
      span:nth-child(2) {
        width: 15%;
      }
      span:nth-child(3) {
        width: 15%;
      }
      span:nth-child(4) {
        width: 20%;
      }
      span:nth-child(5) {
        width: 20%;
      }
    }
  }
  & > .table__row {
    border-radius: 15px;
    background-color: #f6f2cf;
    padding: 0.5em 0;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    span:nth-child(1) {
      width: 30%;
    }
    span:nth-child(2) {
      width: 15%;
    }
    span:nth-child(3) {
      width: 15%;
    }
    span:nth-child(4) {
      width: 20%;
    }
    span:nth-child(5) {
      width: 20%;
    }
    .table__btn {
      &--view {
        border-radius: 15px;
        padding: 0.2em 0.5em;
        text-decoration: none;
        background-color: #52658f;
        color: white;
      }
      &--assign {
        border-radius: 15px;
        padding: 0.2em 0.5em;
        text-decoration: none;
        background-color: #f58930;
        color: white;
      }
    }
  }
}
