// Headlines
@mixin headline-xl {
  font-size: $text-size-xl;
}

@mixin headline-l {
  font-size: $text-size-l;
}

@mixin headline-m {
  font-size: $text-size-m;
}

@mixin headline-s {
  font-weight: 600;
  font-size: $text-size-s;
}
