* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  max-width: 64em;
  padding: 0 1em;
  margin: 0 auto;
  line-height: 1.5;
  font-family: $font-primary;
  background-color: $color-primary-light;
  color: $color-primary-dark;
}

a {
  color: inherit;
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 50%; //Must be fixed
}

small {
  font-size: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 1em 0 0.5em;
}

// Table Normalizing
table {
  border-collapse: collapse;
}

th {
  text-align: left;
}
