// Typography
$font-primary: 'Nunito', sans-serif;

// Colors
$_royalblue: #123456;
$_valiantyellow: #ffda00;
$_ebwhite: #f2f2f2;
$_ebblack: #111111;
$_butteryellow: #ffe566;

$color-primary-dark: $_ebblack;
$color-primary-light: $_ebwhite;
$color-accent: $_valiantyellow;
$color-secondary: $_royalblue;
$color-tertiary: $_butteryellow;

// Font sizes
$text-size-xl: 2.25rem;
$text-size-l: 1.5rem;
$text-size-m: 1rem;
$text-size-s: 0.9rem;
$text-size-xs: 0.5rem;
