$butteryellow: #ffd275;

table {
  margin-left: 6rem;
  box-shadow: 3px 3px 10px grey;
  border-radius: 25px;
  padding: 1rem;
}

th {
  padding-bottom: 1rem;
  width: 10rem;
  text-align: start;
}

.coloredColumn {
  background-color: #ffd275;
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: #c78500;
}

td {
  width: 20rem;
  border-bottom: 0.5px solid #ffd275;
}
