.eb-manager-dashboard {
}

.eb-manager-dashboard-add-employee {
  display: flex;
  flex-direction: column;

  // (1) Lifting button above form; negative position form
  &__action {
    align-self: flex-end;
    z-index: 1; // (1)
  }

  &__form {
    margin-top: 1em;

    @media (min-width: 37.5rem) {
      margin-top: -2em; // (1)
    }
  }
}
