.backlog-wrapper {
  display: flex;
  flex-direction: column;

  &__action {
    align-self: flex-end;
    margin-right: 1.5em;

    &.backlog-wrapper__action {
      padding: 1em;
    }
  }
}

.backlog-list {
  list-style: none;
  padding: 0;

  &__item {
    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }
}

.time-picker__button-group {
  display: flex;
  justify-content: flex-end;
}
