.onboardee-dashboard {
  &__section {
    &:not(:first-child) {
      margin-top: 2.25em;
    }
  }
}

.onboardee-dashboard-section {
  &__intro {
    font-style: italic;
  }
  &__body {
    margin-top: 1em;
  }
}
