.week-view {
  display: grid;
  grid-template-columns: repeat(5, minmax(10px, 1fr));
}

.day-card {
  border: 1px solid #000;
  // padding: 0.3em 0.5em;
  display: grid;
  grid-template-rows: auto auto repeat(8, 2em);

  &__header {
    background-color: rgba(0, 0, 0, 0.03);
    margin: 0 0 1em 0;
    padding: 0.3em 0.5em;
    height: 4em;
    &__OBday {
      font-size: 1em;
      margin: 0 0 0.5em 0;
    }
    &__date {
      font-size: 1em;
      margin: 0;
      font-weight: bold;
    }
  }
}

.task-card {
  background-color: rgba(175, 238, 238, 0.568);
  padding: 0.3em 0.5em;
  margin: 0.5em 0.5em;
  font-size: 0.9em;

  &:hover {
    background-color: #ffd275;
  }
}
